.player-1 {margin-left: 300px; display: flex; flex-direction: column; gap: 50px;}
.vs {color: brown; margin-left: 650px; margin-top: -300px; font-size: 76pt; font-weight: bolder;}
.com {margin-left: 1000px; margin-top: -470px; display: flex; flex-direction: column; gap: 50px;}
.player-1 > img {cursor: pointer;}
.batu.png {background-color: red;}

